body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cabin-Regular';
    src: url('./../fonts/Cabin.woff2');
}

@font-face {
    font-family: 'Cabin-500';
    src: url('./../fonts/Cabin-500.woff2');
}
