.post-wrapper {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #ebebeb;

    .post-content {
        height: 100%;

        &__header {
            text-align: center;
            font-family: 'Cabin-Regular';
            font-weight: 800;
            font-size: 20px;
            display: flex;
            gap: 10px;

            span {
                width: 100%;
            }

            .trash-can {
                cursor: pointer;
            }
        }

        &__body {
            font-family: 'Cabin-Regular';
            font-family: 18px;
            overflow-y: scroll;
            margin: 12px 10px 0px;
            height: 80%;
        }
    }

    .post-content__body::-webkit-scrollbar {
        display: none;
    }
}

.delete-section {
    span {
        display: block;
        text-align: center;
        font-family: 'Cabin-Regular';
        font-size: 25px;
        margin: 25px;
    }
    &__button-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 10px;

        &__yes-button {
            font-family: 'Cabin-500';
            padding: 10px;
            width: 150px;
            border-radius: 15px;
            border: 0px;
            color: #ffff;
            font-size: 15px;
            background: rgb(254, 66, 33);
            cursor: pointer;
        }
    
        &__no-button {
            font-family: 'Cabin-500';
            padding: 10px;
            width: 150px;
            border-radius: 15px;
            border: 0px;
            color: #ffff;
            font-size: 15px;
            background: rgb(31, 253, 150);
            cursor: pointer;
        }
    }
}